/* Homepage Background Banner */

body {
    background-color: #FBFBFB ;
}


.Banner-Image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

